
.list {
    width: 100%;
}

.list__article {
    display: flex;
    justify-content: center;  
}
.list__article-efect {
    background:  linear-gradient(60deg, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer {
    width: 100%;
}
.footer__booton{
    display: flex;
    justify-content: center;
}


